body {
  padding-top: 35px;
  padding-bottom: 30px;
  font-size: 16px;
  background-image: url(../images/table480.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper {
  position: relative;
  max-width: 480px;
  min-width: 290px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 40px 20px 150px;
  background-image: url(../images/oldPaper480.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1,
h2 {
  margin: 0 auto;
  text-align: center;
  font-family: "Niconne", cursive;
}

h1 {
  margin-bottom: 10px;
  font-size: 50px;
  line-height: 50px;
  color: rgb(28, 4, 49);
}

h1:first-letter {
  font-size: 60px;
  color: rgb(173, 26, 6);
}

h2 {
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 40px;
}

h2:hover {
  color: rgb(112, 108, 108);
}

.app-name {
  font-size: 20px;
  color: rgb(173, 26, 6);
}

.app-name:hover {
  color: rgb(250, 37, 9);
}

.attantion {
  color: rgb(177, 63, 63);
}

.stack {
  font-size: 20px;
}

.githab {
  color: rgb(28, 4, 49);
}
.githab:hover {
  color: rgb(128, 18, 224);
}

h2 {
  margin-bottom: 40px;
  font-size: 30px;
  text-align: center;
  font-family: "Niconne", cursive;
}

.name {
  text-decoration: none;
  color: #000;
}

ol {
  padding-left: 18px;
}

li {
  margin-bottom: 10px;
  font-family: "Kaushan Script", cursive;
  font-size: 20px;
  color: #000;
}

.sing-wrap {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 240px;
  height: 80px;
  bottom: 90px;
  right: 30px;
}

.seal {
  width: 80px;
  height: 80px;
  background-image: url(../images/seal60.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.signature {
  display: block;
  font-family: "Parisienne", cursive;
  font-size: 35px;
  color: #000;
  line-height: 80px;
  text-decoration: none;
}

.signature:hover {
  color: rgb(112, 108, 108);
}

.pen {
  display: none;
}

@media screen and (min-width: 480px) {
  body {
    background-image: url(../images/table768.jpg);
  }

  .wrapper {
    max-width: 768px;
    padding: 40px 25px 250px;
    background-image: url(../images/oldPaper768.png);
  }

  h1 {
    font-size: 70px;
    line-height: 70px;
  }

  h1:first-letter {
    font-size: 80px;
  }

  h2 {
    font-size: 40px;
    line-height: 40px;
  }

  .app-name {
    font-size: 22px;
  }

  .stack {
    font-size: 22px;
  }

  ol {
    padding-left: 25px;
  }

  li {
    font-size: 22px;
  }

  .sing-wrap {
    width: 260px;
    height: 80px;
    right: 70px;
  }

  .seal {
    width: 80px;
    height: 80px;
    background-image: url(../images/seal150.png);
  }

  .signature {
    font-size: 35px;
    line-height: 80px;
  }
}
