* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 16px;
  background-image: url(../images/table.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper {
  position: relative;
  max-width: 900px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 40px 50px 250px;
  background-image: url(../images/oldPaper.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1,
h2 {
  margin: 0 auto;
  font-size: 70px;
  text-align: center;
  font-family: "Niconne", cursive;
  color: rgb(28, 4, 49);
}

h1:first-letter {
  font-size: 100px;
  color: rgb(173, 26, 6);
}

h2 {
  margin-bottom: 15px;
  font-size: 50px;
}

a {
  font-size: 25px;
  color: rgb(173, 26, 6);
}

.stack {
  font-size: 25px;
}

.githab {
  color: rgb(28, 4, 49);
}

.article h2 {
  margin-bottom: 40px;
  font-size: 50px;
  text-align: left;
  font-family: "Niconne", cursive;
}

ol {
  padding-right: 50px;
  padding-left: 65px;
}

li {
  margin-bottom: 10px;
  font-family: "Kaushan Script", cursive;
  font-size: 22px;
  color: #000;
}

.sing-wrap {
  position: absolute; 
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 330px;
  height: 150px;
  bottom: 50px;
  right: 70px;
}

.seal {
  width: 150px;
  height: 150px;
  background-image: url(../images/seal.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.signature {
  display: block;
  font-family: "Parisienne", cursive;
  font-size: 40px;
  color: #000;
  line-height: 150px;
}
