@media screen and (min-width: 768px) {
  body {
    background-image: url(../images/table768.jpg);
  }

  .wrapper {
    max-width: 768px;
    min-height: 987px;

    padding: 40px 50px 250px;
    background-image: url(../images/oldPaper1000.png);
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    body {
      background-image: url(../images/table1024.jpg);
    }
    .wrapper {
      padding: 40px 50px 250px;
      background-image: url(../images/oldPaper1440.png);
    }

    .seal {
      width: 150px;
      height: 150px;
      background-image: url(../images/seal200.png);
    }
  }

  h1 {
    font-size: 70px;
    line-height: 70px;
  }

  h1:first-letter {
    font-size: 100px;
  }

  h2 {
    font-size: 50px;
    line-height: 50px;
  }

  .app-name {
    font-size: 25px;
  }

  .stack {
    font-size: 25px;
  }

  ol {
    padding-right: 50px;
    padding-left: 65px;
  }

  li {
    margin-bottom: 10px;
    font-size: 22px;
  }

  .sing-wrap {
    width: 350px;
    height: 150px;
    bottom: 90px;
    right: 70px;
  }

  .seal {
    width: 150px;
    height: 150px;
    background-image: url(../images/seal150.png);
  }

  .signature {
    font-size: 40px;
    line-height: 150px;
  }
}
